<div class="notice-page">
	<h1>Modifier Annonce</h1>
	<div class="container">
		<div class="row" id="gris">
			<div class="col-xs-12">
				<select name="Activité" class="styled-select">
					<option value="value0" selected disabled>Activité</option> 
					<option value="value1">Plomberie</option> 
					<option value="value2">Peinture</option>
					<option value="value3">Prêt de matériel</option>
					<option value="value4">Jardinage</option>
					<option value="value5">Électricité</option>
				</select>
				<input type="text" id="titre" placeholder="Titre">
				<br>
				<label for="description"><h2>
					Description de l'annonce : </h2>
				</label>
				<br />
				<textarea name="description" id="description" rows="17" cols="150">
				</textarea>
				<br>
				<form>
					<input id="publier" type="submit" value="Publier"/>
				</form>
			</div>
		</div>
	</div>
	<br>
</div>