<div class="listoffers-page">
	<h1>Liste de vos Annonces</h1>
	<div class="container-fluid">
	<table class="col-md-6 .col-md-offset-3">
		<tr id="machin">
			<td>Activité</td>
			<td>Annonce</td>
		</tr>
		<tr>
			<td id="plomberie"></td>
			<td>Titre<br><br><br>Description de l'annonce</td>
		</tr>
	</table>
	<table class="col-md-6 .col-md-offset-3">
		<tr id="machin">
			<td>Activité</td>
			<td>Annonce</td>
		</tr>
		<tr>
			<td id="peinture"></td>
			<td>Titre<br><br><br>Description de l'annonce</td>
		</tr>
	</table>
	<table class="col-md-6 .col-md-offset-3">
		<tr id="machin">
			<td>Activité</td>
			<td>Annonce</td>
		</tr>
		<tr>
			<td id="outils"></td>
			<td>Titre<br><br><br>Description de l'annonce</td>
		</tr>
	</table>
	<table class="col-md-6 .col-md-offset-3">
		<tr id="machin">
			<td>Activité</td>
			<td>Annonce</td>
		</tr>
		<tr>
			<td id="jardinage"></td>
			<td>Titre<br><br><br>Description de l'annonce</td>
		</tr>
	</table>
	<table class="col-md-6 .col-md-offset-3">
		<tr id="machin">
			<td>Activité</td>
			<td>Annonce</td>
		</tr>
		<tr>
			<td id="elect"></td>
			<td>Titre<br><br><br>Description de l'annonce</td>
		</tr>
	</table>
	</div>
	<br>
</div>