 <div class="notice-page">
         <div class="container-fluid" id="bd">
            
            <div class="row" id="ts">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                        <h1>Description de l'offre</h1>
                </div>
            </div>
            <div class="row" id="ts">
                <div class="col-xs-12 col-sm-10 col col-sm-offset-1 " id="cs">    
                    <div class="row" id="ts">
                        <div class="col-xs-12 col-sm-3 col col-sm-offset- " id="cs1">
                          </div>
                    </div>
                    <div class="row" id="ts">
                        <div class="col-xs-12 col-sm-5 col" id="jardinage2">                    
                        </div>
                        <div class="col-xs-12 col-sm-5 " >
                            <blockquote id="cs13">
                                <h2> Nom de l'offre </h2>
                                <h3> Description </h3>
                                <p>Bonjour je cherche une personne compétente pour tondre mon jardin car je suis un gros flemard. Je suis prêt a payer 15 euros de l'heure vu l'état
                                de mon jardin :D. J'espere donc pouvoir faire affaire avec vous. Bonjour l'arnaque etc etc et voila. Merci beaucoup. 
                                Jean Dumont
                                </p>
                                <p id="date">15/03/2016</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>