.navbar{
	
	background-color: black;
	height: 100px;
	margin-bottom: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 10px;
	position: relative;
	
}
.btn btn-default navbar-btn{
	margin-bottom: 0;
}
.btn-group{
	height: 34px;
	margin: 2px 2px 2px 2px; 
	text-align: center;
	width: 200px;
}
.styled-select {
   border: 1px solid #ccc;
   height: 34px;
   margin: 2px 2px 2px 2px; 
   overflow: hidden;
   width: 200px;
   
   }
#bordure {
  background-color: powderblue;  
  border-color: chartreuse; 
  border-width: 0.1px;   
  float: left;
  margin-right: 0;
  margin-top: 5px;
  padding: 5px 5px 5px 5px; 
  text-align: center;
}
img{
	height: 300px;
	margin-left: 2px;
	margin-right: 10px;
	width: 250px;
}
#test {
	border-style: double;
	color: green;
}
#search-btn {
  background-color: orange;
  border-color: orange; 
  border-style: solid;  
  border-width: 1px;   
  color: #ffffff;
  padding: 5px 5px 5px 5px;   
  font-family: PT sans;   
  font-size: 13px;  
  font-weight: normal;   
  letter-spacing: 2px;   
  margin: 10px 2px 2px 2px;    
  text-transform: uppercase;   
  width: 200px;  
}

#logo{	
	height: 5em;
	margin-bottom: 5px;
	padding-bottom: 20px;
	width: 5em;
}
body {
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	margin : 0;
}
figcaption{
	
	color: green;
	font-family: cursive;
	font-size: 1.5em;
	margin-top: 0;
}
h2{
	color: green;
	font-family: cursive;
	font-size: 2.15em;
	margin-left: 10px;
}
h1{
	color : green;
	font-family: times, serif;
	font-size: 6em;
	margin-bottom: 0;
	margin-top: 0;
	text-align: center;
}
h3{
	color: green;
	font-family: cursive;
	margin-bottom: 25px;
	
}
h4{
	color: green;
	float: right;
	font-family: cursive;
	font-size: 2.5em;
	margin-top: auto;
}
h6{
	font-family: cursive;
	margin-right: 10px;
}
.header{
	float: right;
	margin-bottom: 10px;
	padding-top: 30px;
}
.float{
	float: left;
	text-align: center;
}
.float2{
	float:right;
}
#voisin{
	height: 150px;
	margin-left: 0;
	margin-right: 20px;
	width: 150px;
}
#gauche {
	margin-left: 15vmin;
}
#radio {
	margin-left: 5px;
	margin-right: 5px;
}
