
#footer{
	background-color: black;
	color: black;
	position: relative;
	clear:both;
	margin-top: 0px;
	height: 180px;

}
.line{
	color: #169;
}
.copyright-text{
	color: #169;
}
h5{
	font-size: 1.5em;
	color: #169;

}
@media screen and (max-width:1175px){
	#footer{
		height: 200%;
	}
}