.listoffers-page{
	h1{
		font-family:"Comic Sans MS", cursive, sans-serif;
		text-align: center;
		font-size: 4em;
		color: green;
	}
	h2{
		font-family:"Comic Sans MS", cursive, sans-serif;
		color: green;
	}
	h6{
		float: right;
	}
	td{
		border: 1px solid black; 
		font-size: 1.5em;
	}
	.plomberie{
		height: 200px;
		width: 200px;
		background: url('../img/plomberie.jpg')no-repeat;
		background-size:cover;
	}
	.Peinture{
		height: 200px;
		width: 200px;
		background: url('../img/peinture.jpg')no-repeat;
		background-size:cover;
	}
	.Outils{
		height: 200px;
		width: 200px;
		background: url('../img/outils.jpg')no-repeat;
		background-size:cover;
	}
	.Jardinage{
		height: 200px;
		width: 200px;
		background: url('../img/jardinage.jpg')no-repeat;
		background-size:cover;
	}
	.Electricite{
		height: 200px;
		width: 200px;
		background: url('../img/electrique.jpg')no-repeat;
		background-size:cover;
	}
	.col-md-10 .col-md-offset-3{
		float: right;
	}
	#machin{
		font-size: 1.5em;
		background-color: lightgray;
	}
	#empiler{
		text-align: center;
	}
	.container{
		text-align: center;
		margin-bottom: 10px;
	}
}

