.notice-page{
	h1{
		font-family:'Montserrat', sans-serif;
		text-align: center;
		font-size: 4em;
		color: green;
	}
	h2{
		font-family:'Montserrat', sans-serif;
		color: green;
	}

	.styled-select{
		border: 1px solid #ccc;
		height: 34px;
		margin: 2px 2px 2px 2px; 
		overflow: hidden;
		width: 200px;
		font-size: 1.2em;
	}
	#description{
		margin-top: 0;
	}
	#publier{
		width: 200px;
		height: 34px;
		text-align: center;
		font-size: 1.5em;
		background-color: orange;
		border-color: orange; 
		border-style: solid;  
		border-width: 1px;   
		color: #ffffff;      
		font-weight: normal;  
		margin-bottom: 7px;
	}
	#titre{
		height: 50px;
		margin-left: 140px; 
		text-align: center;
		width: 600px;
		font-size: 2.5em;
	}
	td{
		border: 1px solid black; 
		font-size: 1.5em;
		margin-right: 150px;
	}
	#plomberie{
		height: 200px;
		width: 200px;
		background: url('../img/plomberie.jpg')no-repeat;
		background-size:cover;
	}
	#peinture{
		height: 200px;
		width: 200px;
		background: url('../img/peinture.jpg')no-repeat;
		background-size:cover;
	}
	#outils{
		height: 200px;
		width: 200px;
		background: url('../img/outils.jpg')no-repeat;
		background-size:cover;
	}
	#jardinage{
		height: 200px;
		width: 200px;
		background: url('../img/jardinage.jpg')no-repeat;
		background-size:cover;
	}
	#elect{
		height: 200px;
		width: 200px;
		background: url('../img/electrique.jpg')no-repeat;
		background-size:cover;
	}
	.col-md-8 .col-md-offset-3{
		float: right;
	}
	#gris{
		background-color: lightgray;
		padding-top: 10px;
		float: right;
		border: 1px solid dimgrey;
	}
	#machin{
		font-size: 1.5em;
		background-color: lightgray;
		text-align: center;
	}
	button{
		margin-left: 10px;
	}
	#special{
		float:right;
		margin-bottom: 10px;
	}
	#noidea{
		text-align: center;
	}
	#bd{
		width: 100%;
		height: 500px;
		background-color: white;
		padding: 20px;

	}
	#ts {
		height: 50px;
		margin-left: 5%;

	}

	#cs {
		border: 5px solid black;
		margin-top: 5%;
		margin-bottom: 5%;
	}

	#cs1 {
		width:auto;
	}

	#cs13 {
		width: 100%;
		height: 100%;
		h2 {
			margin-top: -40px;
			margin-bottom: 60px;
		}
	}
	#jardinage2{
		height: 300px;
		width: 300px;
		background: url('../img/jardinage.jpg')no-repeat;
		background-size:cover;
		margin-bottom: 5%;
	}
	#date{
		float: right;
		margin-top: 60px;
	}
}