.register-page{
	h1{
		ont-family: cursive;
		text-align: center;
		font-size: 4em;
		color: green;
	}
	h3{
		margin-left: 30px;
	}
	.btn-group{
		text-align: center;
		height: 30px;
		width: 250px;
		margin-left: 550px;
		float: left;
	}
	.bouton{
		font-size: 1.5em;
	}
	
}