<div class="resetpass-page">
	<h1>Vous avez oublié votre mot de passe ?</h1>

	<h3>Renseignez votre adresse mail puis validez.<br>Vous recevrez dans quelques instants, par e-mail, un lien vous permettant 
		de réinitialiser facilement votre mot de passe.</h3>
		<br>
	<input type="text" class="btn-group" role="group" placeholder="Adresse Mail">
	<button type="button" class="bouton">Envoyer</button>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</div>