<div class="contact-page">
	<div class="greyBackground">
		<div class="container">
			<h1>Contactez-nous</h1>
			<h2>Pour toute demande d'information, n'hésitez pas à nous contacter.</h2>
			<div class="formulaire">
				<br>
				<form action="home" method="post" accept-charset="utf-8" >
					<div style="display:none">
						<input type="hidden"/>
					</div>	
					<div class="row">
						<div class="col-md-3">
							<label for="first_name">Prénom</label>
							<br /><input id="first_name" type="text" name="first_name" class= "form-control"/>
						</div>
						<div class="col-md-3">
							<label for="last_name">Nom</label>
							<br />
							<input id="last_name" type="text" name="last_name" class= "form-control" />
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-3">
							<label for="email_address">Adresse Mail</label>
							<br /><input type="text" name="email_address" class= "form-control"/>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-12">
							<label for="message">Votre Message</label>
							<br />									
							<textarea name="message" cols="80" rows="5" class="form-control" ></textarea>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-12">
							<div></div>
							<p class="text-center">
								<input type="submit" value="Envoyer" class="envoyer" />
							</p>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>