body{
    width: 100%;
    height: 400px;
    background-color:cyan;
    margin: auto;
}


#bd{

    width: 100%;
    height: ;
    background-color: cornflowerblue;
    border: 10px solid red;
    padding: 20px;
    
}

td {
    border: 1px solid red;
    
}















