	<div class="home-page">	
		<h1>Comme à la Maison !
			<div class="float2" id="voisin"  alt="Entraide entre voisins" title="Entraide entre voisins">
			</div>
		</h1>
		<br>
		<br>
		<h2>Une plateforme de mise en relation entre voisins simple et efficace dans le domaine du bricolage.</h2>
		<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12" id="bordure">
				<form ng-submit="search(search)">
				<select name="Activité" class="styled-select" ng-model="search.type">
					<option value="value0" selected disabled>Activité</option> 
					<option value="Plomberie">Plomberie</option> 
					<option value="Peinture">Peinture</option>
					<option value="Jardinage">Jardinage</option>
					<option value="Électricité">Électricité</option>
				</select>
				<select name="Rayon" class="styled-select" ng-model="search.range">
					<option value="value0" selected disabled>Rayon</option> 
					<option value="1">1Km</option> 
					<option value="5">5Km</option>
					<option value="10">10Km</option>
					<option value="30">30Km</option>
				</select>
					<input id="search-btn" type="submit" value="Rechercher"/>
				</form>
			</div>
		</div>
		</div>
	<div class="container-fluid">
		<h3>Comme à la Maison permet de vous mettre en relation avec vos voisins dans plusieurs domaines du bricolage comme :</h3>
		<div class="float" id="plomberie" alt="La Plomberie" title="La Plomberie">
			<figcaption>La Plomberie</figcaption>
		</div>
		<div class="float" id="peinture" alt="La Peinture" title="La Peinture">
			<figcaption>La Peinture</figcaption>
		</div>
		<div class="float" id="outils" alt="Le Prêt de Matériel" title="Le Prêt de Matériel">
			<figcaption>Le Prêt de Matériel</figcaption>
		</div>
		<div class="float" id="jardinage" alt="Le Jardinage" title="Le Jardinage">
			<figcaption>Le Jardinage</figcaption>
		</div>
		<div class="float" id="elect" alt="L'Électricité" title="L'Électricité">
			<figcaption>L'Électricité</figcaption>
		</div>
	</div>
	<br>
</div>